header{
    
    margin: auto;
    text-align: center;
}

fieldset{
    border: 2.5px solid black;
    border-collapse: collapse ;
    border-radius: 2%;
    max-width: 700px;
    margin: auto;
   
}


table{
margin: 0px 0px 100px 150px;

}



h4{
    font-weight: lighter;
    margin-top: 10px;
}

input, select{
width: 180%;
border: 2px solid black;
}

a{
  text-decoration: none;
  color: black;
  background-color: rgb(186, 185, 185);
}



.texto{
text-align: right;
padding-top: 6px;

}

.botonGuardar{
    text-align: left;

   margin: auto;
  
}

.botonCancelar{
    text-align:right;
   
    margin: auto;
   
}

.botones{
    display: flex ;
}
    

.estado{
margin-top: 20px;

}




.checkbox{
    width: 10px; 
    align-items: left;
    display: flex;
}


